
.navbar-nav {
  /* padding-bottom: 1rem;
  margin-bottom: 1rem; */
  width: 100%;
  text-align: center;
  background-color: "light-blue";
  border: 2px red;
}

.navbar-nav > li {
    float: none;
    display: inline-block;
}

/* #winner {
  display: none;
}
 */


